body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../image/body/Decore2.png);
    background-size: 830px;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    margin: 0;
    min-height: 100vh;
    text-align: center;
    overflow-x: hidden;
}


.container {
    margin: auto;
	padding: 0 20px;
	max-width: 1200px;
}

.header {
    margin: 0 auto;
    margin-top: 56px;
}

.nav__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.nav__link {
    font-size: 17px;
    font-weight: medium;
}

.nav__link:hover {
    text-decoration: underline;
}
.burger__menu {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}

.burger__menu span {
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: black;
}

.burger__menu::before, .burger__menu::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: black;
    transition: all 0.3s ease 0s;
}

.burger__menu::before { 
    top: 0; 
}

.burger__menu::after { 
    bottom: 0; 
}

.burger__menu.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger__menu.active::after {
    top: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

.burger__menu.active  span {
    display: none;
}
.open {
    display: flex !important;
}

.nav__button {
    position: relative;
    width: 110px;
    background: none;
    border-radius: 5px;
    height: 40px;
    font-size: 17px;
    font-weight: medium;
    position: relative;
    cursor: pointer;
}

.nav__button:hover {
    transition: 0.5s;
    transform: scale(1.2);
}
@media (max-width: 900px) {
    .burger__menu { display: flex; }
    .nav__menu {
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: white;
        /* animation: burgerAnimation 0.4s; */
    }

    .nav__menu {
        flex-direction: column;
        row-gap: 30px;

    }
}

.top__inner {
    display: flex;
    flex-wrap: wrap;
}

.top__info {
    position: relative;
    margin-top: 128px;
    max-width: 595px;
}

@media(max-width: 1260px) {
    .top__inner {
    align-items: center;
    justify-content: center;
    }
    .offers__inner {
        background-image: none;
    }
}

.top__subtitle {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #DF6951;
    text-align: start;
}

.top__title {
    margin-top: 24px;
    font-family: 'Volkhov';
    font-size: 84px;
    text-align: start;
}

.top__title span {
    z-index: 2;
    background-image: url(../image/top/Decore.svg);
    background-repeat: no-repeat;
    background-position: 10% 80%;
}

.top__description {
    font-weight: medium;
    font-family: 16;
    line-height: 30px;
    max-width: 450px;
    margin-top: 30px;
    text-align: start;
}

.top__buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
}
.top__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 62px;
    background-color: #F1A501;
    color: aliceblue;
    font-weight: medium;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgb(241,165, 1,0.5);
    cursor: pointer;
}

.top__button:hover {
    transition: ease 0.6s;
    transform: scale(1.1);
}

.top__plays {
    cursor: pointer;
    border-radius: 50%;
	width: 62px;
	height: 62px;
    margin-left: 44px;
	background-color: rgb(223, 105, 81);
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 2px 3px 30px rgba(223, 105, 81, 0.604);
}

.top__plays:hover {
    transition: ease 0.8s;
    transform: scale(1.2);
}

.top__plays span {
    border: 10px solid transparent;
	border-left: 15px solid white;
	margin-left: 30%;
}

.top__play {
    margin-left: 21px;
}
.top__button p {
    max-width: 100px;
}
.top__image {
    position: relative;
    max-width: 600px;
}

.top__girl {
position: relative;
right: 150px;
top: 30px;
}

.girl {
position: relative;
z-index: 20;
}
.plane {

}

.top__onePlane {
    position: absolute;
    margin-left: 10px;
    margin-top: 85px;
}

.top__twoPlane {
    position: relative;
    bottom: 630px;
    left: 255px;
    z-index: 10;
}

.category {
    background-image: url(../image/category/Decore.png);
    background-repeat: no-repeat;
    background-position: 95% -2%;
}

.category__inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.category__subtitle {
    font-size: 18px;
    font-weight: 500;
    color: #5E6282;
}

.category__title {
    font-weight: 500;
    font-size: 50px;
    font-family: 'Volkhov';
    margin-top: 15px;
}

.category__cards {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    flex-wrap: wrap;
}

.category__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 295px;
    height: 350px;
}

.categoryCard__image {
    width: 80px;
}

.categoryCard__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 241px;
    z-index: 40;
    max-width: 220px;
    width: 100%;
    height: 250px;
    opacity: 2;
    background-color: #FFFFFF;
    border-radius: 36px;
}

.categoryCard__title {
    font-size: 20px;
    font-weight: medium;
    margin: 15px 0px;
}

.categoryCard__description {
    font-weight: medium;
    line-height: 26px;
    max-width: 190px;
}

.categoryCard__bottom {
    width: 100px;
    position: relative;
    aspect-ratio: 1;
	border-radius: 30px 1px 10px 0px ;
	background-color: #DF6951;
	z-index: -10;
    margin-right: 195px;
    margin-top: -60px;
    opacity: 0;
}

.categoryCard__inner:hover {
    box-shadow: 0px 25px 30px 3px rgba(17, 12, 1, 0.052);
	transform: scale(1.05);
	transition: ease 0.3s;
}

.categoryCard__inner:hover+.categoryCard__bottom {
    opacity: 1;
	transition: 0.5s;
}

.offers__inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    background-image: url(../image/offers/Decore.svg);
    background-repeat: no-repeat;
    background-position: 99% 85%;
}

.offers__subtitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #5E6282;
}

.offers__title {
    font-size: 50px;
    font-weight: medium;
    font-family: 'Volkhov';
}

.offers__cards {
    max-width: 1180px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.offers__card  {
    max-width: 315px;
    height: 460px;
    background-repeat: no-repeat;
    background-size: 470px;
    background-position: 50% 0%;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 60px;
    box-shadow: 0px 20px 50px -5px rgba(17, 12, 1, 0.1);
    border-radius: 24px;
}

.Rome {
    background-image: url(../image/offers/Rome.svg);
}

.London {
    background-image: url(../image/offers/London.svg);
}

.Europe {
    background-image: url(../image/offers/Europe.svg);
}

.offersCard__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 315px;
    height: 130px;
    border-radius: 0px 0px 24px 24px;
}

.offersCard__list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 28px;
    font-size: 18px;
    font-weight: medium;
}

.offersCard__description {
    list-style-image: url(../image/offers/Navigation.svg);
    font-weight: medium;
    margin-top: 20px;
    margin-right: 10px;
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin-left: 70px;
}

.trip {
    margin-top: 190px;
    margin-bottom: 200px;
}

.tripCard__shadow {
    max-width: 370px;
    width: 100%;
    box-shadow: 10px 70px 80px -10px rgba(17, 12, 1, 0.1);
    border-radius: 24px;
}

.trip__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info__inner {
    max-width: 511px;
    width: 100%;
}
.trip__info {
    max-width: 511px;
    width: 100%;
}
.info__title {
    font-size: 50px;
    font-family: 'Volkhov';
    font-weight: bold;
    text-align: start;
}

.info__subtitle {
    font-size: 18px;
    font-weight: 500;
    color: #5E6282;
}

.info__listInner {
    max-width: 400px;
}
.info__list {
    display: flex;
    gap: 12px;
    margin-top: 50px;
}

.info__list li {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;

}

.info__list h4 {
    font-weight: bold;
    color: #5E6282;
    margin-bottom: 6px;
}

.info__list p {
    text-align: start;
    line-height: 124.5%;
}

.trip__card {
    max-width: 485px;
    width: 100%;
    height: 460px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tripCard__inner {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 80px -60px 150px 0px rgba(89, 177, 230,0.3);
    border-radius: 24px;
    max-width: 370px;
    width: 100%;
}

.tripCard__image {
    margin-top: 20px;
}

.tripCard__image img {
    max-width: 320px;
    width: 100%;
}
.tripCard__text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px 15px;
    margin-top: 26px;
}

.tripCard__discription {
    color: #84829A;
    margin-top: 12px;
    display: flex;
    gap: 10px;
}
.tripCard__title {
    font-size: 18px;
    font-weight: 500;
}
.tripCard__link {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 15px;
}

.tripCard__link li:hover {
    transition: ease 0.8s;
    transform: scale(1.3);
}
.tripCard__like {
    opacity: 0;
    position: absolute;
    left: 228px;
    bottom: 57px;
    width: 263px;
    height: 129px;
    background-color: #FFFFFF;
    display: flex;
    gap: 12px;
    border-radius: 18px;
    box-shadow: 0px 70px 50px -13px rgba(17, 12, 1, 0.1);
    transition: opacity 0.5s;
}

.tripCard__like.active {
    opacity: 1;
}

.like__icon {
    margin-left: 20px;
    margin-top: 18px;
}

.like__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 16px;
}

.like__discription {
    font-size: 14px;
    font-weight: medium;
    color: #84829A;
}

.like__title {
    font-size: 18px;
    font-weight: 500;
    color: #080809;
    margin-top: 5px;
}

.like__completed {
    margin-top: 13px;
    font-size: 14px;
    font-weight: 500;
}

.completed__number {
    color: #8A79DF;
}

.like__scale {
    width: 156px;
    height: 5px;
    border-radius: 30px;
    background-color: #F5F5F5;
    margin-top: 9px;
}

.scale {
    width: 40%;
    height: 5px;
    background-color: #8A79DF;
    border-radius: 30px;
}
.list__quantity {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.like {
    display: flex;
    align-items: center;
    margin-left: 40px;
    cursor: pointer;
}

.quantity {
    display: flex;
    width: 200px;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
    margin-right: 50px;
}

/* Общие стили */


.testimonials__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.testimonials__carousel {
    max-width: 409px;
    width: 100%;
}

.carousel__title {
    font-weight: 500;
    font-size: 18px;
    color: #5E6282;
    text-transform: uppercase;
    text-align: left;
}

.carousel__container {
    margin-top: 10px;
    max-width: 409px;
    width: 100%;
    overflow: hidden;
}

.carousel__inner {
    display: flex;
    transition: transform 0.8s ease-in-out;
}

.carousel__slide {
    max-width: 409px;
    width: 100%;
    flex-shrink: 0;
}

.carousel__text {
    font-family: 'Volkhov';
    font-weight: 500;
    font-size: 50px;
    text-align: left;
    line-height: 60px;
}

.carousel__dots {
    text-align: center;
    margin-top: 60px;
    display: flex;
    justify-content: flex-start;
}

.carousel__dots span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel__dots span.active {
    background-color: #333;
}

.testimonials_review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 750px;
    width: 100%;
    height: 450px;
    position: relative;
    overflow: hidden;
}

.review__container {
    width: 100%;
    height: 390px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.review__element {
    max-width: 541px;
    width: 100%;
    margin-left: 87px;
    background-color: #FFFFFF;
    max-height: 285px;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}

.review__element:nth-child(1) {
    position: relative;
    z-index: 20;
}

.review__element:nth-child(2) {
    position: relative;
    bottom: 190px;
    z-index: 19;
    left: 60px;
}

.review__item {
    max-width: 504px;
    width: 100%;
    position: relative;
    box-shadow: 0px 25px 30px 3px rgba(17, 12, 1, 0.052);
    margin-left: 35px;
    border-radius: 10px;
    bottom: 30px;
    z-index: 10;
    height: 245px;
    box-sizing: border-box;
}

.review__avatar {
    display: flex;
    justify-content: flex-start;
}

.review__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
}

.review__comment {
    font-weight: 500;
    line-height: 32px;
    max-width: 402px;
    width: 100%;
    color: #5E6282;
    text-align: start;
    margin-top: 28px;
    box-sizing: border-box;
}

.review__info {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #5E6282;
}

.review__name {
    margin-top: 34px;
    font-size: 18px;
    color: #5E6282;
    font-weight: 600;
}

.prev, .next {
    cursor: pointer;
}

.prev {
    transform: rotateZ(180deg);
}

.prev.disabled, .next.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.next {
    margin-top: 57px;
}

/* Анимации */
.slide-out-down {
    animation: slideOutDown 0.4s ease-in-out forwards;
}

.slide-out-up {
    animation: slideOutUp 0.4s ease-in-out forwards;
}

.slide-in {
    animation: slideIn 0.4s ease-in-out forwards;
}

.links {
    margin-top: 130px;
}
.links__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.links__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    height: 85px;
    width: 100%;
    filter: grayscale(100%); /* Полностью серый */
    transition: filter 0.3s ease; /* Плавное изменение */
}

.links__item:hover {
    filter: grayscale(0%);
    transform: scale(1.2);
    transition: 0.5s;
    box-shadow: 0px 25px 30px 3px rgba(17, 12, 1, 0.052);
    border-radius: 10px;
}

.item__link {
    width: 100%;
}

.forms {
    margin-top: 110px;
    position: relative;
    /* padding-bottom: 80px;
    background-image: url(../image/forms/decore-3.svg);
    background-repeat: no-repeat;
    background-position: right 40px bottom 0px; */
}

.forms::before {
    content: '';
    background-image: url(../image/forms/decore-3.svg);
    max-width: 170px;
    width: 100%;
    min-height: 170px;
    background-repeat: no-repeat;
    position: absolute;
    right: 20px;
    bottom: -70px;
    z-index: 1;
}
.forms__block {
    position: relative;
    background-color: rgba(223, 215, 249, 0.3);
    border-radius: 129px 20px 20px 20px;
    min-height: 407px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.forms__block::before,
.forms__block::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    opacity: 0.1; /* Прозрачность 50% */
}

.forms__block::before {
    background-image: url(../image/forms/decore-1.2.png);
    bottom: -32px;
    left: 10px;
    max-width: 500px; /* Укажите реальные размеры */
    width: 100%;
    height: 300px;
}

.forms__block::after {
    background-image: url(../image/forms/decore-2.2.png);
    top: 0px;
    right: -20px;
    max-width: 250px; /* Укажите реальные размеры */
    width: 100%;
    height: 300px;
}

.block__icon {
    position: absolute;
    top: -15px;
    right: -20px;
}

.block__title {
    font-size: 33px;
    font-weight: 600;
    line-height: 54px;
    color: #5E6282;
    max-width: 860px;
    width: 100%;
    text-align: center;
    margin-top: 80px;
}

.block__form {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    width: 100%;
    margin-top: 75px;
}
.block__label {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #FFFFFF;
    max-width: 420px;
    width: 100%;
    height: 65px;
    position: relative;
    border-radius: 10px;
}

.label__icon {
    margin-left: 30px;
}

.form__text {
    border: none;
    width: 300px;
    height: 30px;
}

.form__text:focus {
    outline: none;
}

.form__button {
    max-width: 180px;
    width: 100%;
    height: 65px;
    border-radius: 10px;
    background: linear-gradient(rgb(255,148,109), rgb(255,125,104));
    border: none;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;

}

.form__button:hover {
    transition: ease 0.7s;
    background: linear-gradient(rgb(251, 136, 95), rgb(247, 98, 75));
}

.footer {
    margin-top: 100px;
}
.footer__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 200px;
    flex-wrap: wrap;
}

.footer__logo {
    display: flex;
    align-items: flex-start;
}
.logo__title {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 70px;
}
.logo__name {
    display: flex;
    font-size: 44px;
    font-weight: Medium;
}

.logo__description {
    width: 207px;
    text-align: start;
    font-size: 13px;
    font-weight: medium;
    color: #5E6282;
}

.footer__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
    flex-wrap: wrap;
}

.footer__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.list__title {
    font-size: 21px;
    font-weight: bold;
    padding-bottom: 10px;
}

.list__link {
    font-size: 18px;
    font-weight: medium;
    color: #5E6282;
}

.list__link:hover {
    transition: ease 0.7s;
    text-decoration: underline;
}
.footer__social {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.social__icons {
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;

}

.social__link:hover {
    transition: ease 0.7s;
    transform: scale(1.3);
}
.instagram .social__icon {
    width: 17px;
}

.instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    background: 
        conic-gradient(rgb(184,210,241),rgb(242,137,170),rgb(198,139,240),
        rgb(209,100,218),rgb(201,99,232),rgb(191,194,232),rgb(255,201,153),
        rgb(186,208,241),rgb(191,194,232));
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0px 25px 30px 3px rgba(17, 12, 1, 0.052);
}

.social__title {
    color: #5E6282;
    font-size: 20px;
    font-weight: medium;
}

.social__app {
    display: flex;
    gap: 10px;
}
.app__link {
    width: 107px;
    height: 35px;
}

.app__icon:hover {
    transition: ease 0.5s;
    transform: scale(1.1);
}

.app__icon {
    width: inherit;
}

.by {
    font-style: italic;
    color: #5E6282;
    font-size: 15px;
}
@keyframes slideOutDown {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes slideOutUp {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Медиа-запросы для адаптации */

@media (max-width: 1300px) {
    .forms::before {
        opacity: 0;
    }
}
@media (max-width: 1024px) {

    .category {
        background-image: none;
    }

    .offers__inner {
        background-image: none;
    }

    .trip__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .testimonials__inner {
        flex-direction: column;
        align-items: center;
    }

    .testimonials__carousel {
        max-width: 100%;
        text-align: center;
    }

    .carousel__title {
        text-align: center;
    }

    .carousel__text {
        font-size: 40px;
        line-height: 50px;
        text-align: center;
    }

    .testimonials_review {
        max-width: 100%;
        margin-top: 20px;
    }

    .review__element {
        margin-left: 0;
    }

    .review__item {
        margin-left: 0;
    }

    .review__text {
        margin-left: 20px;
    }

    .review__comment {
        font-size: 16px;
        line-height: 24px;
    }

    .review__name {
        font-size: 16px;
    }

    .review__info {
        font-size: 12px;
    }
}
@media (max-width: 935px) {
    .footer__social {
        margin-top: 20px;
    }
}
@media (max-width: 768px) {
    .testimonials__inner {
        flex-direction: column;
        align-items: center;
    }

    .testimonials__carousel {
        max-width: 100%;
        text-align: center;
    }

    .carousel__title {
        font-size: 16px;
    }

    .carousel__text {
        font-size: 30px;
        line-height: 40px;
    }

    .testimonials_review {
        flex-direction: column;
        align-items: center;
    }

    .review__container {
        height: auto;
    }

    .review__element {
        max-width: 100%;
        height: 200px;
        margin-left: 0;
        bottom: 0;
    }

    .review__element:nth-child(2) {
        left: 0;
        bottom: 155px;
    }

    .review__item {
        max-width: 100%;
        height: 220px;
        margin-left: 0;
        height: auto;
    }

    .review__text {
        margin-left: 10px;
    }

    .review__comment {
        font-size: 14px;
        line-height: 20px;
    }

    .review__name {
        font-size: 14px;
    }

    .review__info {
        font-size: 10px;
    }

    .testimonials__arrow {
        position: relative;
        bottom: 150px;
        display: flex;
        justify-content: center;
    }

    .prev, .next {
        margin: 0 10px;
    }
}

@media (max-width: 480px) {
    .trip__inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .trip__card {
        justify-content: flex-start;
    }
    .carousel__text {
        font-size: 24px;
        line-height: 30px;
    }

    .review__comment {
        font-size: 12px;
        line-height: 18px;
    }

    .review__name {
        font-size: 12px;
    }

    .review__info {
        font-size: 8px;
    }

    .links__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* media quaries */





@media(max-width:1150px) {
    .trip__card {
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 1000px) {
    .category {
        background-image: none;
    }
}

@media(max-width: 700px) {
    .top__image {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top__girl {
        margin-left: 200px;
    }
    .plane {
        display: none;
    }
    .girl {
        width: 25rem ;
    }
    .category {
        margin-top: 70px;
    }
    .tripCard__like {
        left: 70px;
    }
}